# Ignore Python virtual environment
venv/

# Ignore Python bytecode
__pycache__/

# Ignore credentials
avathi-327311-5e77d44d5b03.json

# Ignore CSV files (optional, if you don’t want to share data files)
*.csv
